LMSGI/3rd Term/DTD XML/Ex5/Ex5.dtd

<!ELEMENT CD (artista,  nombre,  fecha_creacion, descripcion, canciones)>
<!ELEMENT artista (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT fecha_creacion (#PCDATA)>
<!ELEMENT descripcion (#PCDATA)>
<!ELEMENT canciones (cancion+)>
<!ELEMENT cancion (titulo, autor, duracion)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT duracion (minutos, segundos)>
<!ELEMENT minutos (#PCDATA)>
<!ELEMENT segundos (#PCDATA)>
<!ATTLIST cancion genero CDATA #REQUIRED>